@tailwind components;
@layer components {
  .alert-container {
    @apply fixed bottom-20 left-5 bg-mui text-gray-100 px-5 py-2 shadow-xl rounded;
  }
}

.alert-container {
  animation: Alert 0.5s ease-in-out;
}
@keyframes Alert {
  0% {
    left: -100%;
  }
  100% {
    left: 1.25rem;
  }
}
