@tailwind components;

@layer components {
  .customization-container {
    @apply grid grid-cols-3 gap-5;
  }

  .slider-customize-container {
    @apply border border-mui rounded text-center h-96 overflow-auto;
  }
  .slider-customize-container .header {
    @apply bg-mui px-5 py-2 sticky top-0 rounded-t text-white grid 
    grid-cols-2 items-center z-10;
  }
  .slider-customize-container .header p {
    @apply text-[1.4vw] font-semibold;
  }
  .slider-customize-container .header button {
    @apply w-fit flex justify-self-end text-white border-white;
  }
  .slider-customize-container .header .slider-customize-form {
    @apply absolute top-full left-0 bg-white shadow-lg py-3 space-y-2 px-5;
  }
  .slider-customize-container .header .slider-customize-form button {
    @apply bg-mui hover:text-white w-full;
  }
  .slider-customize-container .header .slider-customize-form div svg {
    @apply absolute top-4 right-2 text-gray-400;
  }
  .slider-customize-container .item {
    @apply border-b pb-2 relative;
  }
  .slider-customize-container .item .delete {
    @apply p-3 absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 
  bg-white rounded shadow-lg;
  }
}

.slider-customize-container .header .slider-customize-form {
  animation: SliderCustomizeForm 100ms linear;
}
@keyframes SliderCustomizeForm {
  0% {
    top: 80%;
  }
  100% {
    top: 100%;
  }
}
