@tailwind components;
@layer components {
  .deshboard-container {
    @apply grid-cols-5 gap-5 px-5 py-10 relative md:grid;
  }
  .deshboard-container main {
    @apply col-span-4 flex justify-center mt-4 md:mt-0;
  }
  .deshboard-menus {
    @apply cursor-pointer text-xl border-r-2 border-gray-100 hidden md:block;
  }
  .deshboard-container button {
    @apply font-semibold my-1 w-full;
  }

  /*------------------- 
  product-input-form-container
  -------------------- */
  .product-input-form-container {
    @apply md:grid grid-cols-2 gap-5 space-y-2 md:space-y-0 relative;
  }
  .tag-and-feature {
    @apply w-full flex flex-wrap gap-1;
  }
  .tag-and-feature span {
    @apply bg-gray-200 px-2 py-1 rounded h-fit;
  }
  .product-input-form-container button {
    @apply flex justify-self-end w-fit col-span-2;
  }
  .product-input-form-container button.submit-btn {
    @apply bg-mui hover:text-gray-100 justify-self-center;
  }
  .specification-input-container {
    @apply col-span-2 relative;
  }
  .specification-input-container svg {
    @apply absolute top-2/4 right-3 -translate-y-2/4 fill-gray-400 hover:fill-gray-800
    cursor-pointer;
  }
  .file {
    @apply text-base py-3 border-mui file:bg-[#4a8cbe2b] file:border file:rounded-2xl
    file:border-mui file:px-3 file:mr-3 w-full my-0;
  }
  .specification-container {
    @apply flex flex-col items-end col-span-2 relative;
  }
  .specification-container > div {
    @apply absolute bottom-full right-0 bg-white rounded shadow-md;
  }
  .specification-container button {
    @apply w-fit;
  }

  /* manage product */
  .filter-wrapper-manage-product {
    @apply flex space-x-2;
  }
  .filter-wrapper-manage-product div:nth-child(2) {
    @apply mt-1;
  }
  .filter-wrapper-manage-product input {
    @apply h-1;
  }
  .filter-wrapper-manage-product label {
    @apply -top-1;
  }

  /* manage user */
  .edit-form {
    @apply absolute top-2/4 -translate-y-2/4 right-0 bg-white z-20 shadow-lg w-36 rounded;
  }
  .user-add-btn {
    @apply absolute top-2/4 right-2 -translate-y-2/4;
  }
  .add-user {
    @apply flex flex-col gap-2 w-2/4 bg-white z-30 absolute top-2/4 left-2/4 
    -translate-x-2/4 -translate-y-2/4 px-5 py-3 rounded shadow-lg;
  }
}

.deshboard-menus button::after,
.deshboard-menus button::before {
  content: "";
  height: 2px;
  width: 50%;
  background-color: #0e66a8;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
.deshboard-menus button::after {
  left: 50%;
}
.deshboard-menus button::before {
  right: 50%;
}
.deshboard-menus button:hover::after,
.deshboard-menus button:hover::before {
  opacity: 1;
  animation: DeshboardMenu 250ms linear;
}

@keyframes DeshboardMenu {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.specification-container > div {
  animation: specificationInput 250ms linear;
}
@keyframes specificationInput {
  0% {
    bottom: 50%;
  }
  100% {
    bottom: 100%;
  }
}
